.itemList {
    margin: 20px;
    list-style-type: none;
    margin: auto;
}

div {
    border: 1px dashed black;
}

.containerOfAll * {
    float: left;
}

.itemList li {
    background-color: #b2ebf2;
    width: 70%;
    font-size: 30px;
    color: #004d40;
    border: 1px solid #4dd0e1;
}

.taskNumber i {
    font-size: 20px;
}


.taskDetails {

}

.fas.fa-check-square {
    font-size: 30px;
    color: white;
}