ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.itemList {
    margin: 20px;
    list-style-type: none;
}

.itemList li {
    background-color: #80cbc4;
    width: 50%;
    margin: auto;
    font-size: 30px;
    color: #004d40;
    border: 1px solid #2BBBAD;
}

.taskNumber {

}

.taskNumber i {
    font-size: 20px;
}


.taskDetails {

}