
.itemList {
    list-style-type: none;
    position: relative;
}

.containerOfAll * {
    float: left;
}

.itemList li {
    font-size: 30px;
    color: #004d40;
    width: 40vw;
    padding: 5px;
    margin: auto;
    position: relative;
}

.taskNumber {
    background-color: #0097a7;
    width: 100%;
}

.taskNumber i {
    font-size: 20px;
}

.timeContainer {
    margin-left: 50px;
    padding-right: 20px;
}

.iconContainer {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.taskDetails.hidden {
    background-color: #e0f7fa;
    width: 100%;
    overflow: auto;
    display: none;
}

.taskDetails.showed {
    background-color: #e0f7fa;
    height: 100px;
    width: 100%;
    overflow: auto;
}

.fas.fa-check-square {
    font-size: 30px;
    color: white;
}

.showDetails {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.fas.fa-caret-down {
    font-size: 30px;
    color: white;
}